body {
    font-family: 'El Messiri', sans-serif;
}


.catu {
    background-color: #F55E61;
}


.cart-cart {
    color: rgb(255, 93, 35);
}

.border-coral {
    border-color: #F55E61 !important;
}

.slider a {
    
    color: currentColor;
}

[dir=rtl] .slick-prev:before {
    content: '→';
    color: black;
}

[dir=rtl] .slick-next:before {
    content: '←';
    color: black;
}
footer {
    background-color: #F55E61 ;
}

#product-container {
    background-color: antiquewhite;
}

.price-card {
    background-color: rgba(250, 0, 0, 0.5);

}

.buy-quantity-btn:active{
    color: white;
}
.buy-quantity-btn:focus {
    box-shadow: none;
}

.catproitem,
.cart-item {
    color: currentColor;
}


@media only screen and (max-width: 600px) {
    .logologo img{
        width: 150px;
    }
  }

  html {
    font-size: 1rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  }