body {
    /* background-color:rgb(250, 186, 223); */
}

.catu {
    background-color: #F55E61;
}
.product-sliding-item {
    border: 1px solid rgba(225, 64, 64, 0.7);
    
}

.cart-cart {
    color: rgb(255, 93, 35);
}

.slider a {
    text-decoration: none;
    color: currentColor;
}

[dir=rtl] .slick-prev:before {
    content: '→';
    color: black;
}

[dir=rtl] .slick-next:before {
    content: '←';
    color: black;
}
footer {
    background-color: #F55E61 ;
}