body {
  
    background-color: #f5f5f5;
  }

#app {
  height: 27rem;
}

  @media only screen and (max-width: 600px) {
    .logologo img{
        width: 150px;
    }

    #app {
      height: 20rem;
    }
  }

  html {
    font-size: 1rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  }